<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d9813255-97be-4979-b8ba-26f508a3301f/resourcegroups/TheResource/providers/Microsoft.Web/sites/NWUTechTrendsWebAPI20240809063403</ResourceId>
    <ResourceGroup>TheResource</ResourceGroup>
    <ApiResourceId>/subscriptions/d9813255-97be-4979-b8ba-26f508a3301f/resourceGroups/TheResource/providers/Microsoft.ApiManagement/service/NWUTechTrendsWebAPIapi/apis/NWUTechTrendsWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nwutechtrendswebapi20240809063403.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>3d238f24-bf45-4d91-9322-352763899b91</ProjectGuid>
    <MSDeployServiceURL>nwutechtrendswebapi20240809063403.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NWUTechTrendsWebAPI20240809063403</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$NWUTechTrendsWebAPI20240809063403</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>